body{
    background-image:url(背景.jpeg);
    /* background-repeat: no-repeat; */
    color:rgb(13, 122, 122);

    font-size: larger;
  

}
/* 主体块的位置 */
.content{
    width: 400px;
    margin: auto;
    margin-top: 300px;
}